<%- include('../parts/header') %> <%- include('../components/Navbar') %>
<div class="container">
  <div class="row">
    <div class="col col-12 col-md-4">
      <img src="/<%= userImage %>" alt="" />
    </div>
    <div class="col col-12 col-md-6">
      <h3><%= username %></h3>
      <% if(!isOwner){ %> 
        <% if(isFriend){ %> is friend 
        <% } else if(sentRequest) {%> sent request 
        <% } else if(recievedRequest ) {%> recieved request 
        <% } else {%> add friend
        <% } %> 
     <% } else { %> owner
     <% } %> 
    </div>
  </div>
</div>
<%-include('../parts/scripts') %> <%- include('../parts/footer') %>
