<%- include('../parts/header') %> <%- include('../components/Navbar') %>
<div class="screen">
  <div class="auth-form-container">
    <div class="container">
      <h1>Chatty</h1>
      <h6>Sign up to chat and connect with your friends.</h6>
      <form action="/signup" method="POST">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="form-control"
        />
        <input
          type="text"
          name="email"
          placeholder="Email"
          class="form-control"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
        />
        <input
          type="password"
          name="confirm password"
          placeholder="Confirm Password"
          class="form-control"
        />
        <input type="submit" value="Sign up" class="submit-btn" />
      </form>
    </div>

    <% if(authError) { %>
    <br />
    <p class="alert alert-danger"><%= authError%></p>
    <% } %>
  </div>
</div>
<%- include('../parts/scripts') %> <%- include('../parts/footer') %>
